
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Integrantes</h2>

<ul>
    <li>
        <b>Fernandez Briceño Ariana</b>
        <br />
    </li>
    <li>
        <b>Rodríguez León M.</b>
        <br />
    </li>
    <li>
        <b>Silvera Reynaga Gino</b>
        <br />
    </li>
</ul>